@use 'src/assets/styles/_colors.scss';
@use 'src/assets/styles/_size.scss';

.banner {
    background: url('src/assets/img/back.jpg') no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
}

@media (min-width: 601px) {
    .view {
        overflow: visible;
        margin-top: -56px;
    }
}

@media print {
    * {
        display: none !important;
    }
}